body {
	background: #f9e933;
	font-family: "Droid Sans", sans-serif;
	font-size: 100%;
	overflow-y: scroll;
}

h1, h2, h3, h5 { 
	font-family: "Ubuntu", sans-serif;
}

h1 {
	font-size: 3em;
	font-style: italic;
	vertical-align: middle;
}

h2 {
	font-size: 1.75em;
	font-weight: bold;
}

h3 { 
	font-size: 1.3em; 
	font-weight: bold;
}

h5 { font-size: 1.3em; }

header, main, footer {
	min-width: 855px;
}

header .container,
main .container,
footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: hidden;
	border-bottom: 2px solid grey;
}

header h1 {
	float: left;
	width: 570px;
	padding-top: .5em;
	padding-bottom: .5em;
}

header h1 a {
	color: black;
	text-decoration: none;
}

header h1 a:active { color: gray; }

header nav {
	float: right;
	width: 285px;
	padding-top: 2.9em;
	vertical-align: middle;
}

header nav a {
	text-decoration: none;
	color: black;
}

header nav a:active { color: gray; }

main {
	background: white;
	overflow: hidden;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

main .left {
	float: left;
	width: 570px;
}

main .right {
	float: right;
	width: 285px;
}

main h2 { padding-bottom: 10px; }

main h3 {
	padding-top: 20px; 
	padding-bottom: 10px;
}

main img {
	width: 200px;
}

.tabs a { color: black; }

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
background: #eee;
}

main .content {
	background-color: #eee;
	border: 1px solid #eee;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 0;
}

main .content h3 {
	background-color: #ccc;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	font-size: 1em;
	font-weight: normal;
}

main .content li {
	background-color: white;
	padding: 10px;	
	margin: 5px;
	border-radius: 10px;
}

main .content input {
	width: 300px;
	padding: 5px;
	margin: 10px 5px;
	border-radius: 10px;
	font-size: 100%;
}

main .content button {
	padding: 5px 10px;
	margin: 10px 5px;
	border-radius: 10px;
	font-size: 100%;
	font-weight: bold;
}

footer .left {
	float: left;
	width: 570px;
}

footer .sitemap {
	float: right;
	width: 285px;
}

footer h5 {
	margin-top: .75em;
	margin-bottom: .5em;
}

footer p {
	margin-bottom: .1em;
}

.sitemap-left {
	float: left;
	width: 140px;
}

.sitemap-right {
	float: left;
	width: 140px;
}

.sitemap li { padding-bottom: .2em; }
.sitemap a {
	text-decoration: none;
	color: black;
}
.sitemap a:active { color: gray; }